{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<div role="main" class="main">
        <div class="slider-container slider-container-height-720 rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider
                 data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [720,720,720,720], 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,576], 'navigation' : {'arrows': { 'enable': false, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': false, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 35, 'h_offset': 0}}}">
                <ul>
                    <li class="slide-overlay slide-overlay-level-8" data-transition="fade">
                        <img src="{% static 'img/slides/multi-purpose/slide-8-1.jpg' %}"
                             alt=""
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             data-kenburns="on"
                             data-duration="20000"
                             data-ease="Linear.easeNone"
                             data-scalestart="110"
                             data-scaleend="100"
                             data-offsetstart="250 100"
                             class="rev-slidebg">

                        <h1 class="tp-caption text-color-light font-primary font-weight-bold"
                            data-x="center"
                            data-y="center" data-voffset="['-55','-55','-55','0']"
                            data-start="1000"
                            data-fontsize="['65','65','65','55']"
                            data-transform_in="y:[-50%];opacity:0;s:500;"
                            data-transform_out="y:[-50%];opacity:0;s:500;">We Make IT</h1>

                        <div class="tp-caption text-color-light font-primary font-weight-light"
                             data-x="center"
                             data-y="center" data-voffset="['10','10','10','70']"
                             data-start="1300"
                             data-fontsize="['37','37','37','29']"
                             data-transform_in="y:[-50%];opacity:0;s:500;"
                             data-transform_out="y:[-50%];opacity:0;s:500;">Easier thank you think
                        </div>

                        <a class="tp-caption layer-border-width-1 popup-vimeo btn btn-light btn-outline rounded-circle d-flex align-items-center justify-content-center"
                           href="https://vimeo.com/45830194"
                           data-x="center"
                           data-y="center" data-voffset="['150','150','150','200']"
                           data-width="90"
                           data-height="90"
                           data-start="1900"
                           data-fontsize="['22','22','22','22']"
                           data-transform_in="opacity:0;s:500;"
                           data-transform_out="opacity:0;s:500;"><i class="fas fa-play"></i></a>

                    </li>
                </ul>
            </div>
        </div>
        <section class="section section-height-3 bg-light">
            <div class="container">
                <div class="row align-items-center mb-5 pb-3">
                    <div class="col-md-8 mb-4 mb-md-0 appear-animation" data-appear-animation="fadeInLeftShorter">
                        <span class="top-sub-title text-color-primary">GET TO KNOW US</span>
                        <h2 class="font-weight-bold text-5">Digital Agency Based in New York</h2>
                        <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                            blandit.</p>
                    </div>
                    <div class="col-md-4 text-md-right mb-4 mb-md-0 appear-animation"
                         data-appear-animation="fadeInRightShorter">
                        <a href="multi-purpose-8.html#"
                           class="btn btn-primary btn-rounded font-weight-semibold btn-v-4 btn-h-4">GET STARTED NOW</a>
                    </div>
                </div>
                <div class="row align-items-baseline appear-animation" data-appear-animation="fadeInRightShorter">
                    <div class="col-md-4">
                        <div class="icon-box icon-box-style-3">
                            <div class="icon-box-icon">
                                <img width="55" height="55" src="vendor/linear-icons/tablet.svg" alt="" data-icon
                                     data-plugin-options="{'color': '#2388ED', 'animated': true}"/>
                            </div>
                            <div class="icon-box-info">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-3">Mobile Apps</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                    enim. Nullam id varius nunc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box icon-box-style-3">
                            <div class="icon-box-icon">
                                <img width="55" height="55" src="vendor/linear-icons/select.svg" alt="" data-icon
                                     data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 600}"/>
                            </div>
                            <div class="icon-box-info">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-3">Creative Websites</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                    enim. Nullam id varius nunc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box icon-box-style-3">
                            <div class="icon-box-icon">
                                <img width="55" height="55" src="vendor/linear-icons/tag.svg" alt="" data-icon
                                     data-plugin-options="{'color': '#2388ED', 'animated': true, 'delay': 1200}"/>
                            </div>
                            <div class="icon-box-info">
                                <div class="icon-box-info-title">
                                    <h3 class="font-weight-bold text-4 mb-3">Brand Solutions</h3>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa
                                    enim. Nullam id varius nunc.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section call-to-action bg-light-5 call-to-action-height-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="call-to-action-content text-center text-md-left appear-animation"
                             data-appear-animation="fadeInLeftShorter">
                            <h2 class="font-weight-bold text-5">Call us now <a href="tel:+123456789"
                                                                               class="text-color-primary">123-456-7890</a>
                                or send an email <a href="mailto:you@domain.com"
                                                    class="text-underline text-color-primary">you@domain.com</a></h2>
                            <p class="font-weight-light mb-0">Lorem ipsum dolor sit amet, coctetur adipiscing elit.
                                Phasellus blandit assa enim. Nullam id varius.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="call-to-action-btn appear-animation" data-appear-animation="fadeInLeftShorter">
                            <a href="portfolio-grid-4-columns.html"
                               class="btn btn-outline btn-rounded btn-dark btn-4 btn-h-3 btn-icon-effect-1 font-weight-bold">
										<span class="wrap">
											<span>OUR PORTFOLIO</span>
											<i class="fas fa-angle-right"></i>
										</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-light">
            <div class="container">
                <div class="row text-center appear-animation" data-appear-animation="fadeInUpShorter">
                    <div class="col">
                        <h2 class="text-color-default text-1">TESTIMONIALS & REVIEWS</h2>
                        <hr class="divider-w-2 divider-size-2 border-color-primary my-4">
                    </div>
                </div>
                <div class="row appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="200">
                    <div class="col">
                        <div class="owl-carousel owl-theme dots-style-3 nav-style-3 nav-color-dark"
                             data-plugin-options="{'items': 1, 'dots': true, 'nav': true, 'navtext': []}">
                            <div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-9 text-center">
                                        <div class="testimonial testimonial-style-1">
                                            <blockquote>
                                                <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                    magna purus, aliquet vitae nisi ac, aliquet consectetur est.
                                                    Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus.
                                                    Donec pharetra lectus quis. "</p>
                                            </blockquote>
                                            <div class="testimonial-author mb-4">
														<span>
															<strong>- John Doe</strong>
															<span>Okler Themes</span>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-9 text-center">
                                        <div class="testimonial testimonial-style-1">
                                            <blockquote>
                                                <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                    magna purus, aliquet vitae nisi ac, aliquet consectetur est.
                                                    Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus.
                                                    Donec pharetra lectus quis. "</p>
                                            </blockquote>
                                            <div class="testimonial-author mb-4">
														<span>
															<strong>- Bob Doe</strong>
															<span>EZY Theme</span>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-md-9 text-center">
                                        <div class="testimonial testimonial-style-1">
                                            <blockquote>
                                                <p>" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
                                                    magna purus, aliquet vitae nisi ac, aliquet consectetur est.
                                                    Suspendisse mattis eu urna eget sodales. Phasellus a vehicula risus.
                                                    Donec pharetra lectus quis. "</p>
                                            </blockquote>
                                            <div class="testimonial-author mb-4">
														<span>
															<strong>- Monica Doe</strong>
															<span>Themes Inc</span>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-duration="1s">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="card bg-primary-2 border-0 h-100 py-5">
                            <div class="card-body p-5 appear-animation" data-appear-animation="fadeInRightShorter">
                                <span class="top-sub-title text-color-light opacity-5">LOREM IPSUM DOLOR SIT</span>
                                <h2 class="font-weight-bold text-color-light text-5 mb-3">Why Us?</h2>
                                <p class="text-color-light opacity-7 mb-0">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum
                                    dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="image-frame min-height-300 h-100" data-plugin-image-background
                             data-plugin-options="{'imageUrl': 'img/projects/generic/project-15-square.jpg'}"></div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="image-frame min-height-300 h-100" data-plugin-image-background
                             data-plugin-options="{'imageUrl': 'img/generic/generic-wide-1.jpg'}"></div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="card bg-primary border-0 h-100 py-5">
                            <div class="card-body p-5 appear-animation" data-appear-animation="fadeInLeftShorter">
                                <span class="top-sub-title text-color-light opacity-5">LOREM IPSUM DOLOR SIT</span>
                                <h2 class="font-weight-bold text-color-light text-5 mb-3">Amazing Solutions</h2>
                                <p class="text-color-light opacity-7 mb-0">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="image-frame min-height-300 h-100" data-plugin-image-background
                             data-plugin-options="{'imageUrl': 'img/projects/generic/project-12-square.jpg'}"></div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="image-frame min-height-300 h-100" data-plugin-image-background
                             data-plugin-options="{'imageUrl': 'img/generic/generic-wide-2.jpg'}"></div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="card bg-primary-2 border-0 opacity-9 h-100 py-5">
                            <div class="card-body p-5 appear-animation" data-appear-animation="fadeInUpShorter">
                                <span class="top-sub-title text-color-light opacity-5">LOREM IPSUM DOLOR SIT</span>
                                <h2 class="font-weight-bold text-color-light text-5 mb-3">Affordable Prices</h2>
                                <p class="text-color-light opacity-7 mb-0">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3 p-0">
                        <div class="image-frame min-height-300 h-100" data-plugin-image-background
                             data-plugin-options="{'imageUrl': 'img/projects/generic/project-16-square.jpg'}"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-light">
            <div class="container">
                <div class="row text-center mb-5">
                    <div class="col">
                        <span class="top-sub-title text-color-primary appear-animation"
                              data-appear-animation="fadeInUpShorter">THE RIGHT CHOICE</span>
                        <h2 class="font-weight-bold text-5 appear-animation" data-appear-animation="fadeInUpShorter"
                            data-appear-animation-delay="200">Small details make difference</h2>
                        <p class="lead appear-animation" data-appear-animation="fadeInUpShorter"
                           data-appear-animation-delay="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Phasellus blandit.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-5 mr-auto mb-4 mb-md-0 appear-animation"
                         data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
                        <div class="progress-bar-wrapper progress-bar-style-1 mb-3">
                            <div class="progress-bar-info">
                                <label>Development</label>
                                <span class="progress-bar-percent">25%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" data-to="25" data-delay="500"
                                     aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-bar-wrapper progress-bar-style-1 mb-3">
                            <div class="progress-bar-info">
                                <label>Strategy</label>
                                <span class="progress-bar-percent">90%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" data-to="90" data-delay="700"
                                     aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-bar-wrapper progress-bar-style-1 mb-3">
                            <div class="progress-bar-info">
                                <label>Marketing</label>
                                <span class="progress-bar-percent">70%</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" data-to="70" data-delay="900"
                                     aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 pl-md-4 pl-lg-0 mb-4 mb-md-0 appear-animation"
                         data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                        <h3 class="font-weight-bold text-4 mb-3">Creative Process</h3>
                        <ul class="list list-style-1">
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Ipsum dolor sit amet</li>
                            <li>Dolor sit amet</li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 appear-animation" data-appear-animation="fadeInLeftShorter"
                         data-appear-animation-delay="200">
                        <h3 class="font-weight-bold text-4 mb-3">We Delivery</h3>
                        <ul class="list list-style-1">
                            <li>Dolor sit amet</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Sit amet</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section bg-dark-5">
            <div class="container">
                <div class="row align-items-center pb-4 appear-animation" data-appear-animation="fadeInRightShorter">
                    <div class="col-md-9 mb-4 mb-md-0">
                        <h2 class="font-weight-semibold text-color-light mb-0">Discover EZY. It's easier than you
                            think.</h2>
                        <p class="font-weight-light text-color-light text-2 mb-0">Start right now to create an amazing
                            website.</p>
                    </div>
                    <div class="col-md-3 text-md-right">
                        <a href="https://themeforest.net/item/ezy-responsive-multipurpose-html5-template/21814871"
                           class="btn btn-light btn-outline btn-rounded font-weight-semibold btn-v-3 btn-h-2"
                           target="_blank">BUY EZY FOR <strong class="line-height-1 text-4 font-weight-semibold ml-2">$16</strong></a>
                    </div>
                </div>
                <hr class="border-light opacity-1 my-5">
                <div class="row justify-content-center align-items-center pt-4 appear-animation"
                     data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
                    <div class="col-4 col-md-1-5 text-center text-md-left">
                        <img src="img/logos/logo-7-light.png" width="170" alt="" class="img-fluid opacity-3">
                    </div>
                    <div class="col-4 col-md-1-5 text-center">
                        <img src="img/logos/logo-8-light.png" width="80" alt="" class="img-fluid opacity-3">
                    </div>
                    <div class="col-4 col-md-1-5 text-center">
                        <img src="img/logos/logo-24-light.png" width="100" alt="" class="img-fluid opacity-3">
                    </div>
                    <div class="col-4 col-md-1-5 text-center text-md-right mt-5 mt-md-0">
                        <img src="img/logos/logo-10-light.png" width="140" alt="" class="img-fluid opacity-3">
                    </div>
                    <div class="col-4 col-md-1-5 text-center text-md-right mt-5 mt-md-0">
                        <img src="img/logos/logo-11-light.png" width="100" alt="" class="img-fluid opacity-3">
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block custom_scripts %}

{% endblock %}